body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.blog {
  font-size: 70px;
  color: rgb(14, 8, 0);
  font-family: "Merriweather", serif;
}

.boxshape {
  /* border: 2px solid black;
  border-radius: 15px; */
  cursor: pointer;
}

.boxshape:hover {
  background-color: rgba(136, 112, 226, 0.842);
  transition: 0.3s;
}
